apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Namespaces MUST be created first
  - ../../namespaces

  # RBAC resources
  - ../../rbac/staging-rbac.yaml
  - ../../rbac/production-rbac.yaml

  # Infrastructure - Helm repositories (these can be created anytime)
  - ../../infrastructure/kustomization.yaml

  # Infrastructure - Helm releases (these install the CRDs)
  - infrastructure-helmreleases.yaml

  # Infrastructure - Cluster resources (depends on CRDs from helm-releases)
  - infrastructure-cluster-resources.yaml

  # Super-Todo Chart
  - super-todo-helmchart.yaml

  # Applications - Staging (depends on staging namespace and infrastructure)
  - ../../apps/super-todo/staging/helmrelease.yaml

  # Applications - Production (depends on production namespace and infrastructure)
  - ../../apps/super-todo/production/helmrelease.yaml
