apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Deploy Helm repositories first (these belong in flux-system)
  - postgres/helmrepository.yaml
  - redis/helmrepository.yaml

commonAnnotations:
  deployment.type: infrastructure
