apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - postgres/helmrepository.yaml
  - postgres/helmrelease.yaml
  - redis/helmrepository.yaml
  - redis/helmrelease.yaml

commonLabels:
  app.kubernetes.io/part-of: super-todo-infrastructure
  app.kubernetes.io/managed-by: flux

commonAnnotations:
  deployment.type: infrastructure
