apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - postgres/helmrepository.yaml
  - redis/helmrepository.yaml

commonAnnotations:
  deployment.type: infrastructure
